{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->

{% block content %}

<div class="container-fluid ">
  
    <div class="thing row top">
        <div class="col-md-5">
            <!-- {%for pitch in pitch%}
            {{pitch.category}}
            {%endfor%} -->
            <div id="jobs">
                {%for pitchjob in pitchjob %}
                <!-- {{pitchjob.content}} -->
                {%endfor%}
            </div>
            
            <a class="ratings" href="{{ url_for('main.make_pitch') }}"> Write a new Pitch</a><br>
            <a class="ratings t1" href="{{ url_for('main.pitchdisplayproduct') }}"> Event Pitch</a>
            <a class="ratings t2" href="{{ url_for('main.pitchdisplay') }}"> Job Pitch</a>
            <a class="ratings t3" href="{{ url_for('main.pitchesinterview') }}"> interview</a>
            
        </div>
        <div class="col-md-7">
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active"  id="homCards1" data-toggle="tab" href="{{ url_for('main.pitchdisplayproduct') }}"><strong>Event Pitches</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  id="homCards2" data-toggle="tab" href="{{ url_for('main.pitchdisplay') }}"> Job Pitches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="homCards3"  data-toggle="tab" href="{{ url_for('main.pitchesinterview') }}">Interview Pitch</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="container tap-pan active" id="all">
          {{ macro.displayContent(pitches) }}
        </div>
        <div class="container tap-pan fade" id="job">
            {{ macro.displayContent(job) }}
        </div>
        <div class="container tap-pan fade" id="interview">
            {{ macro.displayContent(interview) }}
        </div>
        <div class="container tap-pan fade" id="event">
            {{macro.displayContent(event)}}
        </div>
    </div>
          

        
        
</div>
    
    <style>
        .thing {
            font-family: 'Baloo', cursive;
            color: black;
            font-weight: 15px;
            font-size: 90px;
            padding : 30px;
            padding-top : 250px;
            padding-bottom : 300px;
            background-image: linear-gradient(to top right, rgb(18, 19, 31), rgb(17, 32, 44), rgb(15, 46, 57), rgb(14, 59, 70), rgb(13, 72, 83), rgb(11, 85, 96), rgb(10, 99, 108), rgb(8, 112, 121), rgb(7, 125, 134), rgb(6, 138, 147), rgb(4, 152, 160), rgb(3, 165, 173));
        }
        .ratings {
            color:wheat;
            font-size: 34px;
        }
        #homCards3 {
            font-size: 65px;
            background-color: skyblue;
        }
        #homCards2 {
            font-size: 65px;
            background-color: burlywood;
        }
        #homCards1 {
            font-size: 65px;
            background-color: blanchedalmond;
        }
        .t1{
            color: lightcyan;
        }
        .t2{
            color: lightgreen;
        }
        .t3{
            color: lightsalmon;
        }

    </style>
</div>

{% endblock %}