
{% extends 'base.html'%}

{% block content %}

<div class="container">
    <div class="row">
       
        <div class="col-md-12">

            <div class="container-fluid ">
            
                <div class="thing row top">
                    
                    <div class="col-md-6 ">
                        
                        <u><h1 class="text-center "><strong>PITCHES</strong></h1></u>
                    
                        <a href="pickup" target="_blank" rel="noopener noreferrer">
                            <h2 class="text-center">Pitch</h2> </a>
                        
                        <a href="cryptography" target="_blank" rel="noopener noreferrer">
                            <h2 class="text-center">Cryptography</h2> </a>
                    </div>
                    
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <a class="ratings" href="#"> Write a new review</a>
                    </div>
                </div>
                
                <style>
                    .thing {
                        font-family: 'Baloo', cursive;
                        color: black;
                        font-weight: 15px;
                        font-size: 90px;
                        padding : 30px;
                        padding-top : 250px;
                        padding-bottom : 300px;
                        background-image: linear-gradient(to top right, rgb(18, 19, 31), rgb(17, 32, 44), rgb(15, 46, 57), rgb(14, 59, 70), rgb(13, 72, 83), rgb(11, 85, 96), rgb(10, 99, 108), rgb(8, 112, 121), rgb(7, 125, 134), rgb(6, 138, 147), rgb(4, 152, 160), rgb(3, 165, 173));
                    }
                    .ratings {
                        color:wheat;
                        font-size: 34px;
                    }

                </style>
            </div>

        </div>
    </div>
</div>

{% endblock%}